<p>Bookmark Manager

<form action='/bookmarks/new'>
  <input type="submit" value="Add link"/>
  </form>
  <input type="submit" value="Sign up"/>
  <input type="submit" value="Sign in"/>
</form>

</p>
